:root {
    --bs-body-bg: #e0eadf;
	--bs-light-rgb: 194, 216, 192;
    --bs-body-color: #000;
	--bs-heading-color: #000;
	--bs-border-color: #000;
	--bs-body-font-family: 'Courier New', Courier, monospace;
	--bs-body-font-weight: 400;
	
	/*--col-fg: #026c10;*/
}

h1, .navbar-brand {
	font-weight: 900;
}

.rows-gap > .row + .row {
	margin-top: 1em;
}

.add-clock-before, .add-clock-after {
	width: 100px;
	height: 1em;
	font-size: 5px;
	margin-left: auto;
	margin-right: auto;
}

.input-group-text {
	color: white;
	background-color: #198754;
	transition: background-color 0.1s ease-in;
}
.input-group-text:hover {
	background-color: #157347;
}